.App {
  text-align: center;
}
.fetch_btn {
  padding: 10px 20px;
  border: none;
  background-color: black;
  color: white;
  font-size: 18px;
  border-radius: 20px;
  cursor: pointer;
}
.random_user_container {
  margin-top: 30px;
}
.person_container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.person_container img {
  width: 200px;
  border-radius: 50%;
}
.person_container span {
  padding: 15px;
  font-size: 20px;
}